@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo img {
    cursor: pointer;
    height: 10px;
}

.search-bar {
    flex-grow: 1;
    margin: 0 15px;
    padding: 8px;
    border: 1px solid #ccc;
    width: 1000px;
    border-radius: 20px;
    max-width: 1000px;
    margin-left: 100px;
    padding-left: 100px;
}

.icons {
    display: flex;
    gap: 15px;
    height: 1px;
    cursor: pointer;
}

.container {
    display: flex;
    margin-top: 60px;
}

.sidebar {
    width: 80px;
    background: white;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    height: 100vh;
    position: fixed;
    left: 0;
    top: 60px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar ul li {
    margin-bottom: 15px;
}

.sidebar ul li img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.feed {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    padding: 20px;
    margin-left: 100px;
}

.post {
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    overflow: hidden;
}

.post img {
    width: 100%;
    border-radius: 10px;
}
